<ul class="nav nav-tabs" id="myTab" role="tablist">
   <li class="nav-item" role="presentation">
     <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#edit-item" type="button" role="tab" aria-controls="home" aria-selected="true">Show Image</button>
   </li>
 </ul>
 <div class="tab-content" id="myTabContent">
   <%- include('show_edit.ejs') %>
 </div>